<div class="field-container">
  <svg
    class="field-canvas"
    attr.viewBox="{{-(fieldLength/2+boundaryWidth)}} {{-(fieldWidth/2+boundaryWidth)}} {{fieldLength+boundaryWidth*2}} {{fieldWidth+boundaryWidth*2}}">

    <!-- rotate field -->
    <g [attr.transform]="getFieldTransformation()">

      <!-- draw field background -->
      <rect [attr.x]="-(fieldLength/2+boundaryWidth)" [attr.y]="-(fieldWidth/2+boundaryWidth)"
            [attr.width]="fieldLength+boundaryWidth*2" [attr.height]="fieldWidth+boundaryWidth*2"
            style="fill:green;fill-opacity:1;stroke:none"></rect>

      <!-- draw field borders -->
      <line *ngIf="!useShapesFromGeometry"
            attr.x1="-{{fieldLength/2}}" attr.y1="-{{fieldWidth/2}}" attr.x2="-{{fieldLength/2}}"
            attr.y2="{{fieldWidth/2}}"
            style="stroke:white;stroke-width:10px"></line>
      <line *ngIf="!useShapesFromGeometry"
            attr.x1="-{{fieldLength/2}}" attr.y1="{{fieldWidth/2}}" attr.x2="{{fieldLength/2}}"
            attr.y2="{{fieldWidth/2}}"
            style="stroke:white;stroke-width:10px"></line>
      <line *ngIf="!useShapesFromGeometry"
            attr.x1="{{fieldLength/2}}" attr.y1="{{fieldWidth/2}}" attr.x2="{{fieldLength/2}}"
            attr.y2="-{{fieldWidth/2}}"
            style="stroke:white;stroke-width:10px"></line>
      <line *ngIf="!useShapesFromGeometry"
            attr.x1="{{fieldLength/2}}" attr.y1="-{{fieldWidth/2}}" attr.x2="-{{fieldLength/2}}"
            attr.y2="-{{fieldWidth/2}}"
            style="stroke:white;stroke-width:10px"></line>
      <line *ngIf="!useShapesFromGeometry"
            attr.x1="0" attr.y1="{{fieldWidth/2}}" attr.x2="0" attr.y2="-{{fieldWidth/2}}"
            style="stroke:white;stroke-width:10px"></line>
      <!-- center circle -->
      <circle *ngIf="!useShapesFromGeometry"
              [attr.r]="centerCircleRadius" style="stroke:white;stroke-width:10px;fill-opacity:0"></circle>
      <!-- penalty areas -->
      <rect *ngIf="!useShapesFromGeometry"
            [attr.x]="-(fieldLength)/2" [attr.y]="-(penAreaWidth)/2" [attr.width]="penAreaDepth"
            [attr.height]="penAreaWidth"
            style="stroke: white;stroke-width:10px; fill-opacity:0"></rect>
      <rect *ngIf="!useShapesFromGeometry"
            [attr.x]="(fieldLength/2)-penAreaDepth" [attr.y]="-penAreaWidth/2" [attr.width]="penAreaDepth"
            [attr.height]="penAreaWidth"
            style="stroke: white;stroke-width:10px; fill-opacity:0"></rect>


      <!-- lines from geometry -->
      <line *ngFor="let l of lines" [attr.x1]="l.p1.x" [attr.y1]="l.p1.y" [attr.x2]="l.p2.x"
            [attr.y2]="l.p2.y"
            style="stroke:white;stroke-width:10px"></line>

      <!-- arcs from geometry (only circles supported for now -->
      <circle *ngFor="let a of arcs" [attr.cx]="a.center.x" [attr.cy]="a.center.y" [attr.r]="a.radius"
              style="stroke:white;stroke-width:10px;fill-opacity:0"></circle>

      <!-- goals -->
      <line [attr.x1]="-fieldLength/2" [attr.y1]="-goalWidth/2"
            [attr.x2]="-fieldLength/2-goalDepth" [attr.y2]="-goalWidth/2"
            style="stroke:black;stroke-width:10px"></line>
      <line [attr.x1]="-fieldLength/2" [attr.y1]="goalWidth/2"
            [attr.x2]="-fieldLength/2-goalDepth" [attr.y2]="goalWidth/2"
            style="stroke:black;stroke-width:10px"></line>
      <line [attr.x1]="-fieldLength/2-goalDepth" [attr.y1]="-goalWidth/2"
            [attr.x2]="-fieldLength/2-goalDepth" [attr.y2]="goalWidth/2"
            style="stroke:black;stroke-width:10px"></line>

      <line [attr.x1]="fieldLength/2" [attr.y1]="-goalWidth/2"
            [attr.x2]="fieldLength/2+goalDepth" [attr.y2]="-goalWidth/2"
            style="stroke:black;stroke-width:10px"></line>
      <line [attr.x1]="fieldLength/2" [attr.y1]="goalWidth/2"
            [attr.x2]="fieldLength/2+goalDepth" [attr.y2]="goalWidth/2"
            style="stroke:black;stroke-width:10px"></line>
      <line [attr.x1]="fieldLength/2+goalDepth" [attr.y1]="-goalWidth/2"
            [attr.x2]="fieldLength/2+goalDepth" [attr.y2]="goalWidth/2"
            style="stroke:black;stroke-width:10px"></line>


      <!-- robots -->
      <path *ngFor="let r of getRobotsYellow()"
            attr.d="
            M {{r.x + r.botRightX()}},{{r.y + r.botRightY()}}
            A {{r.botRadius}} {{r.botRadius}} 0 1 1 {{r.x + r.botLeftX()}},{{r.y + r.botLeftY()}}
            L {{r.x + r.botRightX()}},{{r.y + r.botRightY()}}"
            style="stroke:black;stroke-width:0.3em;fill: yellow; fill-opacity:1"></path>

      <path *ngFor="let r of getRobotsBlue()"
            attr.d="
            M {{r.x + r.botRightX()}},{{r.y + r.botRightY()}}
            A {{r.botRadius}} {{r.botRadius}} 0 1 1 {{r.x + r.botLeftX()}},{{r.y + r.botLeftY()}}
            L {{r.x + r.botRightX()}},{{r.y + r.botRightY()}}"
            style="stroke:black;stroke-width:0.3em;fill: blue; fill-opacity:1"></path>

      <!-- robot ids -->
      <text *ngFor="let r of getRobotsYellow()"
            [attr.x]="r.x" [attr.y]="r.y"
            [attr.dx]="'-40'" [attr.dy]="'45'"
            [attr.textLength]="r.botRadius+20"
            attr.lengthAdjust="spacingAndGlyphs"
            class="bot-id"
            style="stroke-width:0;fill: black">{{r.id}}
      </text>

      <text *ngFor="let r of getRobotsBlue()"
            [attr.x]="r.x" [attr.y]="r.y"
            [attr.dx]="'-40'" [attr.dy]="'45'"
            [attr.textLength]="r.botRadius+20"
            attr.lengthAdjust="spacingAndGlyphs"
            class="bot-id"
            style="stroke-width:0;fill: white">{{r.id}}
      </text>

      <!-- balls -->
      <circle *ngFor="let r of balls" [attr.r]="ballRadius" [attr.cx]="r.x" [attr.cy]="r.y"
              style="stroke:black;stroke-width:0.3em;fill: orangered; fill-opacity:1"></circle>
      <circle *ngFor="let r of balls" [attr.r]="300" [attr.cx]="r.x" [attr.cy]="r.y"
              style="stroke:red;stroke-width:0.5em; fill-opacity:0"></circle>
    </g>
  </svg>

  <div class="footer">
    <p>
      <span style="white-space: nowrap">
        <span class="team-yellow">{{refereeMessage.yellow.score}}</span>
        :
        <span class="team-blue">{{refereeMessage.blue.score}}</span>
        |
      </span>
      <span>{{Stage[refereeMessage.stage]}} ({{refereeMessage.stageTimeLeft | minuteSeconds}}) |</span>
      <span *ngIf="isCommandForBlue()" class="command team-blue">{{Command[refereeMessage.command]}}</span>
      <span *ngIf="isCommandForYellow()" class="command team-yellow">{{Command[refereeMessage.command]}}</span>
      <span *ngIf="isCommandNeutral()" class="command command-neutral">{{Command[refereeMessage.command]}}</span>
    </p>
  </div>
</div>
