<div class="referee-container">
	<div class="upper-container" [ngClass]="{stopCommand: Command[refereeMessage.command] == 'STOP', haltCommand: Command[refereeMessage.command] == 'HALT'}">
    <div class="team-container">
      <app-team [color]="'#fff145'" [logoUrl]="teamLogoYellow" [team]="refereeMessage.yellow"></app-team>
    </div>

    <div class="center-container">
      <span class="score">
        {{refereeMessage.yellow.score}} : {{refereeMessage.blue.score}}
      </span>

      <div class="stage">{{Stage[refereeMessage.stage]}}</div>

      <div class="command">{{Command[refereeMessage.command]}}</div>

      <hr class="separator"/>

      <div *ngIf="refereeMessage.stageTimeLeft >= 0" class="time-container time-positive">
        {{refereeMessage.stageTimeLeft | minuteSeconds}}
      </div>
      <div *ngIf="refereeMessage.stageTimeLeft < 0" class="time-container time-negative">
        {{refereeMessage.stageTimeLeft | minuteSeconds}}
      </div>
    </div>

    <div class="team-container">
      <app-team [color]="'#779fff'" [logoUrl]="teamLogoBlue" [team]="refereeMessage.blue"></app-team>
    </div>
  </div>

  <div class="lower-container">
    <div style="height:80%">
      <div class="game-event-container">
        <div *ngFor="let gameEvent of refereeMessage.gameEvents" [innerHTML]="formatGameEvent(gameEvent) | safeHtml"
             class="game-event-element"></div>
      </div>
    </div>
  </div>
</div>
