<div class="referee-container">

  <div class="team-score-container">
    <div class="team-container">
      <app-team [team]="refereeMessage.TeamYellow" [color]="'#fff145'"></app-team>
    </div>
    <div class="center">
      <div class="score-container">
        <span style="white-space: nowrap; width:100%">{{refereeMessage.TeamYellow.Goals}} : {{refereeMessage.TeamBlue.Goals}}</span>
        <div class="stage-container" style="font-size: 3vmin">{{refereeMessage.Stage.Name}}</div>
        <hr class="no-margin"/>
        <div class="stage-container">
          <div class="time-container time-positiv" *ngIf="refereeMessage.Stage.TimeLeft >= 0">{{refereeMessage.Stage.TimeLeft | minuteSeconds}}</div>
          <div class="time-container time-negativ" *ngIf="refereeMessage.Stage.TimeLeft < 0">{{refereeMessage.Stage.TimeLeft | minuteSeconds}}</div>
        </div>
      </div>
    </div>
    <div class="team-container">
      <app-team [team]="refereeMessage.TeamBlue" [color]="'#779fff'"></app-team>
    </div>
  </div>

  <div class="status-container">
    <div class="game-event-container">
      <div *ngIf="refereeMessage.GameEvent.Type != 'UNKNOWN'" style="height:80%">
        <div class="game-event-element">{{refereeMessage.GameEvent.Type}}</div>
        <div class="game-event-element"
             *ngIf="refereeMessage.GameEvent.Originator.Team != null && refereeMessage.GameEvent.Originator.Team != 'TEAM_UNKNOWN'">
          by
          <span
            *ngIf="refereeMessage.GameEvent.Originator.BotId != -1"> bot {{refereeMessage.GameEvent.Originator.BotId}}
            of </span>
          <span *ngIf="refereeMessage.GameEvent.Originator.Team == 'TEAM_YELLOW'"
                ngClass="team-yellow">{{refereeMessage.TeamYellow.Name}}</span>
          <span *ngIf="refereeMessage.GameEvent.Originator.Team == 'TEAM_BLUE'"
                ngClass="team-blue">{{refereeMessage.TeamBlue.Name}}</span>
        </div>
        <div class="game-event-element" *ngIf="refereeMessage.GameEvent.Message != null" style="height:20%">
        {{refereeMessage.GameEvent.Message}}
        </div>
      </div>
      <div *ngIf="refereeMessage.GameEvent.Type == 'UNKNOWN'" style="height:80%"></div>
      <div class="command-container">{{refereeMessage.Command.Name}}</div>
    </div>  
  </div>
</div>
