<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #start mode="over" [fixedInViewport]="fixed" [fixedTopGap]="fixedTop" [fixedBottomGap]="fixedBottom">

    <div class="settings-container">
      <app-settings></app-settings>
      <button mat-button (click)="start.toggle(undefined, 'mouse')">Close</button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content class="main-content">

    <button class="settings-button" mat-icon-button (click)="start.toggle(undefined, 'mouse')">
      <mat-icon>settings</mat-icon>
    </button>

    <div class="app-header">
      <h1> SSL Status Board </h1>
    </div>

    <div class="app-body">
      <app-referee></app-referee>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

