<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #start mode="over" [fixedInViewport]="fixed" [fixedTopGap]="fixedTop" [fixedBottomGap]="fixedBottom">

    <div class="settings-container">
      <div class="github">
        <a class="github-button" href="https://github.com/RoboCup-SSL/ssl-status-board-client/"
           data-icon="octicon-eye" aria-label="See RoboCup-SSL/ssl-status-board-client on GitHub">Source</a>
        <a class="github-button" href="https://github.com/g3force" aria-label="Follow @g3force on GitHub">Follow
          @g3force</a>
      </div>

      <app-settings></app-settings>
      <button mat-button (click)="start.toggle(undefined, 'mouse')">Close</button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content class="main-content">

    <button class="settings-button" mat-icon-button (click)="start.toggle(undefined, 'mouse')">
      <mat-icon>settings</mat-icon>
    </button>

    <div class="app-header">
      <h1> SSL Status Board </h1>
    </div>

    <div class="app-body">
      <router-outlet></router-outlet>

      <div>
        <a href="{{getLegalNoticeUrl()}}">Legal Notice</a>
        <a href="{{getDataProtectionUrl()}}">Data Protection</a>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

