<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #start [fixedBottomGap]="true" [fixedInViewport]="true" [fixedTopGap]="true" mode="over">

    <div class="settings-container">
      <div class="github">
        <a class="github-button" href="https://github.com/RoboCup-SSL/ssl-status-board-client/"
           aria-label="See RoboCup-SSL/ssl-status-board-client on GitHub" data-icon="octicon-eye">
          Source
        </a>
        <a aria-label="Follow @g3force on GitHub" class="github-button" href="https://github.com/g3force">
          Follow @g3force</a>
      </div>

      <app-settings></app-settings>
      <button mat-button (click)="start.toggle(undefined, 'mouse')">Close</button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content class="main-content">

    <button class="settings-button" mat-icon-button (click)="start.toggle(undefined, 'mouse')">
      <mat-icon>settings</mat-icon>
    </button>

    <div class="app-header">
      <h1> SSL Status Board </h1>
    </div>

    <div class="app-body">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

