<div class="connect-button-container" *ngFor="let label of getAvailableLabels()">
  <button class="connect-button" mat-raised-button color="basic" (click)="onAddressSelected(label)">Connect to
    {{label}}
  </button>
</div>

<p>You can also connect to a custom address, like to a local server:</p>
<mat-form-field class="settings-form-field">
  <input #statusAddress matInput type="text" placeholder="Custom Status Address" value="{{statusWebSocket}}"
         (keyup.enter)="updateStatusWebSocket(statusAddress.value)">
</mat-form-field>
<mat-form-field class="settings-form-field">
  <input #visionAddress matInput type="text" placeholder="Custom Vision Address" value="{{visionWebSocket}}"
         (keyup.enter)="updateVisionWebSocket(visionAddress.value)">
</mat-form-field>
