<div class="github">
  <a class="github-button" href="https://github.com/RoboCup-SSL/ssl-status-board-client/"
     data-icon="octicon-eye" aria-label="See RoboCup-SSL/ssl-status-board-client on GitHub">Source</a>
  <a class="github-button" href="https://github.com/g3force" aria-label="Follow @g3force on GitHub">Follow
    @g3force</a>
</div>

<div *ngFor="let label of getAvailableLabels()">
  <button mat-button (click)="onAddressSelected(label)">Connect to {{label}}</button>
</div>

<mat-form-field class="settings-form-field">
  <input #box matInput type="text" placeholder="Custom Status Address" value="{{statusWebSocket}}"
         (keyup.enter)="updateStatusWebSocket(box.value)">
</mat-form-field>
<mat-form-field class="settings-form-field">
  <input #box matInput type="text" placeholder="Custom Vision Address" value="{{visionWebSocket}}"
         (keyup.enter)="updateVisionWebSocket(box.value)">
</mat-form-field>
